.CardWrapper {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 137px);
  grid-template-rows: repeat(3, 137px);
  grid-gap: 4em;
}

@media only screen and (max-width: 890px) {
  .CardWrapper {
    grid-gap: 3em;
  }
}

@media only screen and (max-width: 720px) {
  .CardWrapper {
    grid-gap: 1em;
  }
}

@media only screen and (max-width: 720px) {
  .CardWrapper {
    grid-template-columns: repeat(3, 137px);
    grid-template-rows: repeat(4, 137px);
  }
}
