.header {
	height: 120px;
	color: white;
	font-family: "Montserrat", sans-serif;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #3e287e;
	-webkit-box-shadow: -1px 13px 22px -16px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 13px 22px -16px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 13px 22px -16px rgba(0, 0, 0, 0.75);
}

.header h1 {
	color: rgb(205, 52, 52);
	margin: 0px;
}

.pageName {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 8px;
}

.info {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
	margin-bottom: 8px;
}

@media only screen and (max-width: 450px) {
	.header h1 {
		font-size: 26px;
	}
}
